// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.err_msg {
	width: 100%;
	font-size: x-large;
	color: red;
	border: 2px solid red;
	background-color: rgb(254, 188, 210);
	margin: 2rem auto;
	text-align: center;
	vertical-align: middle;
}

.updatebtn {
	background-color: #00bfff;
	color: #ffffff;
	padding: 10px 35px;
	text-decoration: none;
	border-radius: 25px;
	transition-property: opacity;
		-webkit-transition-property: opacity;
	transition-duration: .5s;
		-webkit-transition-duration: .5s;
}
  
.updatebtn:hover {
	color: #ffffff;
	text-decoration: none;
	opacity: .7;
}

.tabs {
	margin-top: 50px;
	padding-bottom: 40px;
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}
  
.tab_item {
	width: calc(100% / 2);
	height: 50px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 3px solid #5ab4bd;
	background-color: #d9d9d9;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #565656;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	transition: all 0.2s ease;
}

.tab_item:hover {
	opacity: 0.75;
}
  
input[name="tab_item"] {
	display: none;
}
  
.tab_content {
	display: none;
	padding: 40px 40px 0;
	clear: both;
	overflow: hidden;
}

#per_book:checked ~ #per_book_content,
#piechart:checked ~ #piechart_content {
	display: block;
}
  
.tabs input:checked + .tab_item {
	background-color: #5ab4bd;
	color: #fff;
}
